<mat-grid-list cols="4" rowHeight="200px">
	<mat-grid-tile>&nbsp;</mat-grid-tile>
	<mat-grid-tile colspan="2">
		<h1 class="headline">Find a great available domain name for your website in seconds</h1>
	</mat-grid-tile>
	<mat-grid-tile>&nbsp;</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="40px">
	<mat-grid-tile>&nbsp;</mat-grid-tile>
	<mat-grid-tile colspan="2">
		<mat-form-field class="big-input">
		    <input matInput placeholder="Enter a word that you want your domain name to include:" value="">
		</mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile>&nbsp;</mat-grid-tile>
</mat-grid-list>